# API Configuration
VITE_API_URL=https://dev-api.parkgolfmate.com

# WebSocket Configuration
VITE_CHAT_SOCKET_URL=https://dev-api.parkgolfmate.com

# Toss Payments
VITE_TOSS_CLIENT_KEY=test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq

# Environment
VITE_ENV=development
