# API Configuration
VITE_API_URL=https://dev-api.goparkmate.com

# WebSocket Configuration
VITE_CHAT_SOCKET_URL=https://dev-api.goparkmate.com

# Toss Payments
VITE_TOSS_CLIENT_KEY=test_gck_docs_Ovk5rk1EwkEbP0W23n07xlzm

# Environment
VITE_ENV=development
