# Database
DATABASE_URL="postgresql://user:password@localhost:5432/parkgolf_payment?schema=public"

# NATS
NATS_URL="nats://localhost:4222"

# Server
PORT=8086
NODE_ENV=development

# Toss Payments
TOSS_CLIENT_KEY="test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq"
TOSS_SECRET_KEY="test_sk_zXLkKEypNArWmo50nX3lmeaxYG5R"
TOSS_SECURITY_KEY=""

# Toss API URL
TOSS_API_URL="https://api.tosspayments.com/v1"
